<footer>
    <div class="container-fluid">
        <div class="row p-5 bg-dark text-white">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img src="/img/isologotipoConSlogan.png" alt="" class="img-fluid mb-3">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <p class="h5 text-justified mb-3">Acerca</p>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Cómo funciona</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Nuestra historia</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Opiniones</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Por qué elegirnos</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <p class="h5 text-justified mb-3">Recursos</p>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Ayuda</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Noticias de Interés</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Nuestras Recetas</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 text-justified mb-3">Contacto</p>
                <div class="mb-2 text-justified">
                    <p class="text-secondary">Suscríbete para actualizaciones</p>
                </div>
                <div class="text-justified">
                    <form class="form-inline d-flex ">
                        <input type="email" class="form-control" placeholder="Introduce tu email">
                        <button type="submit" class="btn btn-outline-light">Suscribirse</button>
                      </form>
                </div>
                <section class="ft-social pt-5 text-center">
                    <a href=""><i class="fa-brands fa-facebook"></i></a> 
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a> 
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                  </section> 
            </div>
        </div>
          
        <div class="row p-2 bg-secondary text-white">
            <div class="col-xs-3 col-md-3 col-lg-3">
                <a href="#" class="text-white text-decoration-none">Terminos & Condiciones</a>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                <a href="#" class="text-white text-decoration-none">Política de Privacidad</a>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-4"></div>
            <div class=" col-xs-12 col-md-12 col-lg-2">
                <p class="text-white text-center">Copyright © 2022</p>
            </div>
        </div>
    </div>
</footer>