<header>
    <!-------------------- MENU DE NAVEGACIÓN ---------------------->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/img/isologotipoNav.png" class="img-fluid">
            </a>
            <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="nav navbar-nav ">
                    <li class="nav-item active">
                        <a href="/" class="nav-link text-white text-decoration-none">Inicio</a>
                    </li>
                    <li class="nav-item" >
                      <a href="nav-link text-white text-decoration-none"></a>
                            <p>
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample"  >
                              ACERCA DE
                    <div class="collapse" id="collapseExample">
                              DogHouse es una empresa joven comprometida con el cuidado y la sana alimentación del perro.
                            </a>
                        </p> 
                    </div> 
                    </li>
                    <li class="nav-item">
                        <a href="/tienda" class="nav-link text-white text-decoration-none">Tienda</a>
                    </li>       
                   <!-- <li class="nav-item">
                        <a href="" class="nav-link text-white text-decoration-none">Blog</a>
                    </li>-->
                    
                 </ul>
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <% if (locals.isLogged) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-white " 
                                 id="dropUser" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <% if (user.imagen) { %>
                                    <img class="userIMG" src="/img/avatars/<%= user.imagen %>">
                                    <% } else { %>
                                        <img class="userIMG" src="/img/avatars/default_user.png">
                                        <% } %>
                                            Hola <%= user.nombre %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Bienvenido!</h6>
                                </div>
                                <a class="dropdown-item" href="/usuario/perfil"><i class="fa-solid fa-user"></i> Mi cuenta</a>
                                
                                <a class="dropdown-item" href="/usuario/salir"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>
                            </ul>
                        </li>
                        
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/usuario/registro" class="nav-link text-white text-decoration-none" 
                            role="button">Regístrate</a>
                        </li>
                        <li class="nav-item">
                            <a href="/usuario/ingreso" class="nav-link text-white text-decoration-none" 
                            role="button">Ingresa</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-------------------- MODAL DE INGRESO ---------------------->
    <!--<div class="modal fade" id="login" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" 
                    data-bs-dismiss="modal" aria-label="Close"></button>
                    <i class="fa-solid fa-user text-white"></i>
                    <div class="form">
                        <div class="text-center mb-3">
                            <p class="text-center">Inicia sesión con:</p>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fa-brands fa-facebook-f"></i>
                            </button>
                    
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fa-brands fa-google"></i>
                            </button>
                    
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fa-brands fa-twitter"></i>
                            </button>
                            <p class="text-center pt-3"> O con tu cuenta de DOGHOUSE: </p>
                        </div>
                        <form action="/usuario/ingreso" method="POST">
                            <div class="mb-3 mt-3">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control header-form">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" class="form-control header-form">
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                  
                                  <div class="form-check mb-3 mb-md-0">
                                    <input class="form-check-input" type="checkbox" id="loginCheck" checked>
                                    <label for="loginCheck"> Recordarme </label>
                                  </div>
                                </div>
                        
                                <div class="col-md-6 d-flex justify-content-center ">
                                  <a href="#!" class="text-decoration-none">¿Olvidó su contraseña?</a>
                                </div>
                              </div>

                            <button type="submit" class="btn btn-light mt-3">Iniciar Sesión
                            <i class="fa-solid fa-paw"></i></button>
                        </form>
                        <p class="pt-3 text-center">¿Aún no te has registrado? <a class="text-decoration-none" href="/usuario/registro" 
                        data-bs-toggle="modal" data-bs-dismiss="modal">¡Hazlo ya!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


    <!-------------------- EFECTO SCROLL DEL NAVBAR ---------------------->
    
   
    <script>
        var nav = document.querySelector('nav');
        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('bg-black', 'shadow');
            } else {
                nav.classList.remove('bg-black', 'shadow');
            }
        });
    </script
</header>