<footer>
    <div class="container-fluid">
        <div class="row justify-content-center p-5 bg-dark text-white">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="/img/isologotipoConSlogan.png" alt="" class="img-fluid mb-3">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <p class="h5 mb-3">Acerca</p>
                <div class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none">Opiniones</a>
                </div>
                <div class="mb-2">
                    <a href="/elegirnos" class="text-secondary text-decoration-none">Por qué elegirnos</a>
                </div>
                <div class="mb-2">
                    <a href="/faq" class="text-secondary text-decoration-none">Preguntas Frecuentes</a>
                </div>
                               
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <p class="h5 text-justified mb-3">Recursos</p>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Ayuda</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Noticias de Interés</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Nuestras Recetas</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <p class="h5 text-justified mb-3">Contacto</p>
                <ul>
                    <li></li>
                </ul>
                <div class="mb-2 text-justified">
                    <p class="text-secondary">Suscríbete para actualizaciones</p>
                </div>
                <div class="text-justified">
                    <form class="form-inline d-flex ">
                        <input type="email" class="form-control" placeholder="Introduce tu email">
                        <button type="submit" class="btn btn-outline-light">Suscribirse</button>
                      </form>
                </div>
                <section class="ft-social pt-5 text-center">
                    <a href=""><i class="fa-brands fa-facebook"></i></a> 
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a> 
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                  </section> 
            </div>
        </div>
          
        <div class="row p-2 bg-secondary text-white">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" class="text-white text-decoration-none">Terminos & Condiciones</a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" class="text-white text-decoration-none">Política de Privacidad</a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-4"></div>
            <div class=" col-sm-12 col-md-12 col-lg-2">
                <p class="text-white text-center">Copyright © 2022</p>
            </div>
        </div>
    </div>
</footer>

<!-------------------- Bootstrap parte JavaScript (nadie lo toque,va al final de todo el body) ---------------------->
<script src="/js/cart.js">
    onLoadCartNumbers();
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/657e1de652.js" crossorigin="anonymous"></script>
