<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/img/isologotipo.ico"> 
    <title>DogHouse</title>
</head>

<body id="body">

    <header>
        <!-------------------- MENU DE NAVEGACIÓN ---------------------->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
            <div class="container">
                <a href="" class="navbar-brand">
                    <img src="/img/isologotipoNav.png" class="img-fluid">
                </a>
                <button type="button" class="navbar-toggler"
                 data-bs-target="#navbarNav" 
                 data-bs-toggle="collapse" 
                 aria-controls="navbarNav" 
                 aria-expanded="false"
                 aria-label="Toggle Navbar"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="nav navbar-nav ">
                        <li class="nav-item active">
                            <a href="#" class="nav-link text-white">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">Acerca De</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">Blog</a>
                        </li>
                    </ul>
                    <div class="mx-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">Registrate</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">Ingresa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script>
            var nav = document.querySelector('nav');
            window.addEventListener('scroll', function () {
                if (window.pageYOffset > 100) {
                    nav.classList.add('bg-black', 'shadow');
                } else {
                    nav.classList.remove('bg-black', 'shadow');
                }
            });
        </script>
        <!---------------------- CARRUSEL ---------------------->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" id="start">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000" data-ride="carousel">              
                <img src="/img/carrusel/alimentos.jpg" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Myriam porfa, escribe algo aquí (1)</h3>
                    <p>Mensaje predeterminado</p>
                    <a class="btn btn-outline-light btn-lg" href="">Ver Servicios</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="/img/carrusel/retrato_de_perros.jpg" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Myriam porfa, escribe algo aquí (2)</h3>
                    <p>Otro mensaje predeterminado</p>
                    <a class="btn btn-outline-light btn-lg" href="">Ver Servicios</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="/img/carrusel/perro_en_compu.jpg" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Myriam porfa, escribe algo aquí (3)</h3>
                    <p>Y dale con los mensajes predeterminados</p>
                    <a class="btn btn-outline-light btn-lg" href="">Ver Servicios</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000" >
                <img src="/img/carrusel/perro_en_fondo_naranja.jpg" class="d-block w-100">
                <div class="carousel-caption text-center">
                    <h3>Myriam porfa, escribe algo aquí (4)</h3>
                    <p>¡Lo cocinamos nosotros!</p>
                    <a class="btn btn-outline-light btn-lg" href="">Ver Servicios</a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <script>
        $('.carousel').carousel({
            pause: false
        })
    </script>

    </header>

    <br>
    
    <!-------------------- SECCIÓN 2: "DALE A TU PERRO LA COMIDA QUE SE MERECE" ---------------------->
    <section class="row d-flex flex-row mb-3 d-flex justify-content-evenly align-items-center">

        <article class="col-6 col-sm-12 col-md-6 col-lg-6">
        <div class = "m-2 p-2">
            <img src="/img/indexSection2/section2_parteB1.png" class="rounded opacity-75" alt="Contenido no disponible en este momento">
        </div>
        </article>

        <article class="col-6 col-sm-12 col-md-6 col-lg-6" id="lista_la_comida_que_se_merece">

        <div class="d-flex flex-column mb-3 justify-content-evenly align-items-start m-2 p-2">

            <h2 class="p-2" id="titParteA"> Dale a tu perro la comida que se merece </h2>

            <div class = "p-2">
            <p class="p-2" id="subtParteA"> Elaboramos comida casera para tu perro. Cocinada a fuego lento y con amor. Con ingredientes frescos y 100% naturales.</p>
            </div>
            
            <ol class="p-2 list-group list-group-numbered align-self-stretch" id="listaDale">

                <li class="list-group-item d-flex justify-content-between align-items-start li1">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Ingredientes naturales</div>
                    Comida 100% real. Huele bien, sabe mejor.
                  </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start li2">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Porciones personalizadas</div>
                    Envasado en raciones diarias. Tan fácil como abrir y servir.
                  </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start li3">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Sin procesados ni cereales</div>
                    70% de carne o pescado y un 30% de vegetales.
                  </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start li4">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Elaborado por nutricionistas</div>
                      Menús equilibrados para tu perro en todas las etapas de la vida.
                    </div>
                  </li>

            </ol>
            
            </div>

        </article>

    </section>

    <br>

    <!-------------------- SECCIÓN 3: "OPINIONES" ---------------------->
    <section class="">

        <article class="d-flex justify-content-center" id="img_seccion_3">

            <img src="/img/indexSection3/section3_1.png" alt="Contenido no disponible en este momento">
            <img src="/img/indexSection3/section3_2.png" alt="Contenido no disponible en este momento">
            <img src="/img/indexSection3/section3_3.png" alt="Contenido no disponible en este momento">
            <img src="/img/indexSection3/section3_4.png" alt="Contenido no disponible en este momento">
        
        </article>

        <img src="/img/indexSection3/section3_5-removebg-preview.png" class="d-flex justify-content-center d-flex align-items-center" alt="Contenido no disponible en este momento"> 
        
        <div id="boton_leer_mas_opciones"> <a class="btn d-flex align-items-center" href="#" role="button">Leer más</a> </div>
        <div class="mx-auto"></div>

    </section>

    <!-------------------- SECCIÓN 4: "NUESTRAS RECETAS" ---------------------->
    
    <br>

    <!-- Columnas -->

    <div class="container-fluid">
        <div class="container py-5">
            <div class="row">
             <!-- columna 1 -->
             <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="py-3">
                            <span class="h1">Imagen</span>
                        </div>
                        <p class="h1">Pollo</p>
                        <h4 class="card-title py-2">Menú Pollo</h4>
                    </div>
                    <a href="#" class="card-footer btn bg-primary text-white">Adquirir</a>
                </div>
            </div><!-- columna 1 -->
             <!-- columna 2 -->
             <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="py-3">
                            <span class="h1">Imagen</span>
                        </div>
                        <p class="h1">Carne</p>
                        <h4 class="card-title py-2">Menú Carne</h4>
                    </div>
                    <a href="#" class="card-footer btn bg-primary text-white">Adquirir</a>
                </div>
             </div><!-- columna 2 -->
             <!-- columna 3 -->
             <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="py-3">
                            <span class="h1">Imagen</span>
                        </div>
                        <p class="h1">Mixto</p>
                        <h4 class="card-title py-2">Menú Mixto</h4>
                    </div>
                    <a href="#" class="card-footer btn bg-primary text-white">Adquirir</a>
                </div>
             </div><!-- columna 3 -->
            </div>
        </div>
    </div>

    <footer> 
        
            <div class="container"></div>
            <footer>
              <!-- Footer main -->
              <section class="ft-main">
                <div class="ft-main-item">
                  <h2 class="ft-title">About</h2>
                  <ul>
                    <li><a href="#">Services-Cómo funciona</a></li>
                    <li><a href="#">Nuestra Historia</a></li>
                    <li><a href="#">Precios y promociones</a></li>
                    <li><a href="#">Opiniones</a></li>
                    <li><a href="#">Porque elegirnos</a></li>
                  </ul>
                </div>
                <div class="ft-main-item">
                  <h2 class="ft-title">Resources</h2>
                  <ul>
                    <li><a href="#">Información</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Nuestras Recetas</a></li>
                    <li><a href="#">Noticias de interés</a></li>
                  </ul>
                </div>
                <div class="ft-main-item">
                  <h2 class="ft-title">Contact</h2>
                  <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Advertise</a></li>
                  </ul>
                </div>
                <div class="ft-main-item">
                  <h2 class="ft-title">Stay Updated</h2>
                  <p>Subscribe to our newsletter to get our latest news.</p>
                  <form>
                    <input type="email" name="email" placeholder="Enter email address">
                    <input type="submit" value="Subscribe">
                  </form>
                </div>
              </section>
            
              <!-- Footer social- subir iconos -->
              <section class="ft-social">
                <ul class="ft-social-list">
                  <li><a href="#"><i class=></i></a></li><!--Facebook-->
                  <li><a href="#"><i class=></i></a></li><!--Twitter-->
                  <li><a href="#"><i class=></i></a></li><!--instagram-->
                  <li><a href="#"><i class=></i></a></li><!--github-->
                  <li><a href="#"><i class=></i></a></li><!--linkedin-->
                  <li><a href="#"><i class=></i></a></li><!--youtube-->
                </ul>
              </section>
            
              <!-- Footer legal -->
              <section class="ft-legal">
                <ul class="ft-legal-list">
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li>&copy; 2022 Copyright</li>
                </ul>
              </section>
            </footer>
        </body>
        
    
    <!-------------------- Bootstrap parte JavaScript (nadie lo toque,va al final de todo el body) ---------------------->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

</html>