<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<head>
    <%- include('partials/head', {title: 'Inicio'}) %>
    <!-- CSS Inex -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<body">
    
    <!-- Header -->
    <%- include('./partials/header') %>


        <!---------------------- CARRUSEL ---------------------->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" id="start">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000" data-ride="carousel">              
                <img src="/img/carrusel/retrato_de_perros.jpg" class="d-block w-100">
                <div class="carousel-caption text-justified">
                    <p class="pb-5 mb-5">Alimentalo con DogHouse y verás los beneficios en pocos días</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="6000">
                <img src="/img/carrusel/cucharas_en_caida.jpg" class="d-block w-100">
                <div class="carousel-caption text-justified">
                    <p class="pb-5 mb-5">Trabajamos para que tu perro tenga una dieta completa y equilibrada que le permita vivir más y mejor</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="6000">
                <img src="/img/carrusel/curioso.jpg" class="d-block w-100">
                <div class="carousel-caption text-justified">
                    <p class="pb-5 mb-5">Dale amor, una buena calidad de vida y cuidalo con alimento DogHouse</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="6000" >
                <img src="/img/carrusel/perro_con_banquete.jpg" class="d-block w-100">
                <div class="carousel-caption text-justified">
                    <p class="pb-5 mb-5">DogHouse solo utiliza ingredientes frescos y naturales que sometidos a una cocción lenta conservan todos sus nutrientes y propiedades</h3>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <!-- <script>
        $('.carousel').carousel({
            pause: false
        })
    </script> -->

</div>

    <br>
    
<!-------------------- SECCIÓN 2: "DALE A TU PERRO LA COMIDA QUE SE MERECE" ---------------------->

<section class="container-fluid mb-2">
    
    <div class="row m-2 align-items-center justify-content-evenly">

        <div class = "col-12 col-sm-12 col-md-6 col-lg-6">

                <img src="/img/indexSection2/section2_parteB1.png" class="rounded opacity-75 shadow-sm" style="max-width: 100%; max-height: 100%;" alt="Contenido no disponible en este momento">
            
        </div>

        <div class = "col-12 col-sm-12 col-md-6 col-lg-6">

            <div class="d-flex flex-column mb-3 justify-content-center align-items-start m-2 p-2">

                <h2 class="p-2" id="titParteA"> Dale a tu perro la comida que se merece </h2>

            <div class = "p-2">
            
            <p class="p-2" id="subtParteA"> Elaboramos comida casera para tu perro. Cocinada a fuego lento y con amor. Con ingredientes frescos y 100% naturales.</p>
            
            </div>
            
            <ol class="p-2 list-group list-group-numbered align-self-stretch">

                <li class="list-group-item d-flex justify-content-between align-items-start opacity-90" id="li1">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Ingredientes naturales</div>
                    Comida 100% real. Huele bien, sabe mejor.
                  </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start opacity-90" id="li2">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Porciones personalizadas</div>
                    Envasado en raciones diarias. Tan fácil como abrir y servir.
                  </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start opacity-90" id="li3">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Sin procesados ni cereales</div>
                    70% de carne o pescado y un 30% de vegetales.
                  </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start opacity-90" id="li4">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Elaborado por nutricionistas</div>
                      Menús equilibrados para tu perro en todas las etapas de la vida.
                    </div>
                  </li>

            </ol>
            
            </div>

        </div>

    </div>

</section>

<!-------------------- SECCIÓN 3: "OPINIONES" ---------------------->
    
<!--<section class="container-fluid m-2">

    <article class="row justify-content-center mb-2" id="img_seccion_3">
       
        <div class="col-2"> <img src="/img/indexSection3/section3_1.png" style="max-width: 100%;" alt="Contenido no disponible en este momento"> </div>
        <div class="col-2"> <img src="/img/indexSection3/section3_2.png" style="max-width: 100%;" alt="Contenido no disponible en este momento"> </div>
        <div class="col-2"> <img src="/img/indexSection3/section3_3.png" style="max-width: 100%;" alt="Contenido no disponible en este momento"> </div> 
        <div class="col-2"> <img src="/img/indexSection3/section3_4.png" style="max-width: 100%;" alt="Contenido no disponible en este momento"> </div>
        
    </article>

    <article class="row mb-2">

        <div class="col-12 text-center"> <img src="/img/indexSection3/section3_5-removebg-preview.png" style="max-width: 100%;" alt="Contenido no disponible en este momento" id="img_trustpilot"> </div>
    
    </article> 

    <article class="row">

        <div class="col-12 text-center"> <a class="btn btn-outline-light" href="#" role="button" id="boton_leer_mas"> Leer más </a> </div>
        
    </article>

</section>-->

    <!-------------------- SECCIÓN 4: "NUESTRAS RECETAS" ---------------------->
<center>
    <h2 id="nuestros-menus">Nuestros Menús</h2>
    </center>
        
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
         <h4 id="Nuestros Sabores">Recetas </h4>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Pollo</a></li>
          <p>Ingredientes</p>
          <p>Nuestra receta de pollo se complementa con verduras</p>            
          <p>Cocción lenta</p>
          <br>
          <div class="container">    
          <li><a class="dropdown-item" href="#">Carne</a></li>
          <p>Ingredientes</p>
          <p>Nuestra receta de pollo se complementa con verduras</p>            
          <p>Cocción lenta</p>
          </div>
          <br>
          <div class="container">
          <li><a class="dropdown-item" href="#">Mixto</a></li>
          <p>Ingredientes</p>
          <p>Nuestra receta de pollo se complementa con verduras</p> 
          <p>Cocción lenta</p>           
          <br>
          </div>
        </ul>
      </div>
    <br>
    <!--<center>
    <h2 id="nuestros-menus">Nuestros Menús</h2>
    </center>
    <!-- Columnas -->
    
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row">
             <!-- columna 1 -->
             <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="py-3">
                        <img src="/img/comida-saludable-para-perros-pollo.jpg" alt="Pollo" class="img-fluid mb-3">
                        </div>
                        <p class="h1">Pollo</p>
                        <h4 class="card-title py-2">Menú Pollo</h4>
                    </div>
                    <a href="#" class="card-footer btn text-white" id="boton_leer_mas">Adquirir</a>
                </div>
            </div><!-- columna 1 -->
             <!-- columna 2 -->
             <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="py-3">
                            <img src="/img/mejor-comida-cocinada-perros-carne.jpg" alt="Carne" class="img-fluid mb-3">
                        </div>
                        <p class="h1">Carne</p>
                        <h4 class="card-title py-2">Menú Carne</h4>
                    </div>
                    <a href="#" class="card-footer btn text-white" id="boton_leer_mas">Adquirir</a>
                </div>
             </div><!-- columna 2 -->
             <!-- columna 3 -->
             <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="py-3">
                            <img src="/img/comida-barf-para-perros-mixta.jpg" alt="Mixta" class="img-fluid mb-3">
                        </div>
                        <p class="h1">Mixto</p>
                        <h4 class="card-title py-2">Menú Mixto</h4>
                    </div>
                    <a href="#" class="card-footer btn text-white" id="boton_leer_mas">Adquirir</a>
                </div>
             </div><!-- columna 3 -->
            </div>
        </div>
    </div>

    <!-- Acordeón Preguntas Frecuentes -->
   
    
    
      



	<%- include('./partials/footer') %>
      
</body>
</html>
