<!DOCTYPE html>

<html>

    <!-- Include Head -->
    <%- include('partials/head', {title: 'Suscripción'}) %>

<body>

    <!-- Header -->
    <%- include('./partials/header') %> 

    <!-- Formulario de suscripción DogHouse -->

    <div class="container-fluid m-5">

            <div class="row m-2 justify-content-md-center">

                <div class="col-12">
                    <h2> ¡Preséntanos a tu perro! </h2>
                    <p> Rellena un breve formulario explicándonos cómo es tu perro, para que nuestro algoritmo pueda calcular sus necesidades nutricionales y crear su plan y precio personalizados. </p>
                </div>

            </div>

            <div class="row m-2 justify-content-md-center">

                <div class="col-12">
                    <img src=" "> </img>
                </div>

            </div>

        </div>

<!-- Footer -->
<div>
<%- include('./partials/footer') %>
</div>

</body>

</html>