body {
    background-color: #FDFAF2;
    font-family: "baloo 2";
  }

/******************** NAVBAR ********************/

.navbar-brand img {
    height: 4vw;
}

.nav-item {
  font-weight: bold;
}

.navbar-nav li {
  padding-right: 2vh;
}

.nav-item .nav-link{
  text-transform: uppercase;
  border-radius: 1vh;
  letter-spacing: .3vh;

}

.nav-item .nav-link:hover{
  background-color: #EF863D;
  transition: background-color 0.8s;

}

.bg-black {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/******************** MODAL INGRESO/REGISTRO ********************/

.fade {
  background-color: rgba(0, 0, 0, 0.85);
}


.modal-content {
  border-radius: 10px;
  background-color: rgba(25, 25, 25, 0.2);
  width: 80%;
  margin: 0px auto;
}

.modal-body {
  padding: 0px;
}

.btn-close {
  position: absolute;
  right: 0px;
  padding: 1vw;
}

.fa-user {
  position: absolute;
  left: 0px;
  padding: 1vw;
  font-size: 24px;
}

.form {
  max-width: 100%;
  padding: 2vw;
  color: white;
  box-shadow: 0px 2px 4px 1px rgba(60, 149, 148, 1);
  border-radius: 10px;
  @media (max-width: 576px){
    max-width: 90%;
    margin: 0px auto;
  }
}



.form .btn-primary {
  background-color: #EF863D;
  border: none;
  border-radius: 50%;
}

.form .btn-primary:hover{
  background-color: #3C9395;
}

.form-control {
  background-color: inherit;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid white;
  
}

.form-control:focus {   
  background-color: inherit;
  border-radius: 10px;
  transition: border-radius 0.1;
  color: white;
  border-color: rgba(235, 102, 56, 0.8);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(239, 134, 61, 0.6);
  outline: none;
}

.form-check-input:focus{
  background-color: inherit;
  border-color: rgba(235, 102, 56, 0.8);
  box-shadow: none;
  outline: none;
}

.form .btn-light {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1vh;
}


.form .btn:hover{
  background-color: #3C9395;
  border-color: #3C9395;
  color: white;
  
}

a{
  color: #EF863D;
}

a:hover{
  color: #3C9395;
}


/******************** FOOTER ********************/

.bg-secondary {
    background-color: #333 !important;
  }
  
  footer a:hover {
    background-color: #EF863D;
    color: white !important;
  }
  
  footer .btn:hover {
    color: white !important;
    background-color: #EF863D !important;
  }
  .ft-social a {
    margin-right: 2vw;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
