body {
  background-color: #FDFAF2;
  font-family: "baloo 2";
}

/******************** NAVBAR ********************/

.navbar-brand img {
    height: 4vw;
}

.navbar {
  background-color: rgba(255, 153, 51, 0.4);
}

.nav-item{
  font-weight: bold;
}

.navbar-nav li {
  padding-right: 2vh;
}

.nav-item .nav-link{
  text-transform: uppercase;
  border-radius: 1vh;
  letter-spacing: .3vh;

}

.nav-item .nav-link:hover{
  background-color: #EF863D;
  transition: background-color 0.8s;

}

.bg-black {
  background-color: rgba(0, 0, 0, 0.6) !important;
}





/******************** CARRUSEL ********************/
.carousel-item {
    height: 100%;
    background: no-repeat center center scroll;

  }
  
  .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    height: 100vh;
  }
  
  .carousel-caption {
    font-size: 2vw;
    text-shadow: .1vw .1vw .8vw black;
  }
  
  /*--- Efecto de transición del carrusel --*/
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease,-webkit-transform 1.2s ease;
  }

  /******************** SECCIÓN 2: "DALE A TU PERRO LA COMIDA QUE SE MERECE" ********************/
  
  #titParteA {
    font-family: "baloo 2";
    color:#EF863D;
    font-weight: bold;
    font-size: 40px;
  }

  #subtParteA {
    font-family: "baloo 2";  
    color:#EF863D;
    font-size: 1.2vw;
    line-height: 35px;  
  } 

  #li1 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li2 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li3 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li4 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  /******************** SECCIÓN 3: "OPINIONES" ********************/
  
  #boton_leer_mas{
    opacity: 0.8;
    background-color: #EF863D;
    border: solid #ef863d;
    color: #FDFAF2;
    font-family: "baloo 2";
  }

  #boton_leer_mas:hover {
    background-color: #F5B77C;
    border: solid #F5B77C;
    transition: 
      background-color, 2s, 
      border, 2s;
  }

/******************** SECCIÓN 4 ********************/
#nuestros-menus{
  background-color: #EF863D;
  color: white;
  align-content: center;
}
/******************** FOOTER ********************/

.bg-secondary {
  background-color: #333 !important;
}

footer a:hover {
  background-color: #EF863D;
  color: white !important;
}

footer .btn:hover {
  color: white !important;
  background-color: #EF863D !important;
}
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/******************** MEDIA QUERIES ********************/

/******** Smaller smartphones ********/

@media (max-width: 480px) {
  #titParteA{
    font-size: 22px;
  } 
  #subtParteA{
    font-size: 18px;
  }
  }

/******** Tablets and larger smartphones ********/

@media (min-width: 481px) and (max-width: 768px) {
  #titParteA{
    font-size: 22px;
  } 
  #subtParteA{
    font-size: 18px;
  }
}

/******** Laptops, larger tablets in landscape and small desktops ********/

@media (min-width: 769px) and (max-width: 1279px) {
  #titParteA{
    font-size: 22px;
  } 
  #subtParteA{
    font-size: 18px;
  }
}

/******** Larger desktops and monitors ********/

@media (min-width: 1280px) {}
