body {
  background-color: #FDFAF2;
}

/******************** NAVBAR ********************/

.navbar-brand img {
    height: 4vw;
}

.navbar {
  background-color: rgba(255, 153, 51, 0.4);
}

.nav-item{
  font-weight: bold;
}

.navbar-nav li {
  padding-right: 2vh;
}

.nav-item .nav-link{
  text-transform: uppercase;
  border-radius: 1vh;
  letter-spacing: .3vh;

}

.nav-item .nav-link:hover{
  background-color: #EF863D;
  transition: background-color 0.8s;
  
  
}





/******************** CARRUSEL ********************/
.carousel-item {
    height: 100%;
    background: no-repeat center center scroll;

  }
  
  .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    height: 100vh;
  }
  
  .carousel-caption {
    font-size: 2rem;
    text-shadow: .1rem .1rem .8rem black;
  }
  
  /*--- Efecto de transición del carrusel --*/
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease,-webkit-transform 1.2s ease;
  }

  /******************** SECCIÓN 2: "DALE A TU PERRO LA COMIDA QUE SE MERECE" ********************/
  
  #titParteA {
    font-family: "baloo 2";
    color:#EF863D;
    font-weight: bold;
    font-size: 2.5rem;
  }

  #subtParteA {
    font-family: "baloo 2";  
    color:#EF863D;
    font-size: 1.2rem;
    line-height: 35px;  
  } 

  #li1 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li2 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li3 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li4 {
    background-color: #EF863D;
    font-family: "baloo 2";
    color: #FDFAF2;
    opacity: 0.9;
  }

  /*.li4:hover{
    background-color: #F5B77C;
    transition: background-color 2s;
  }*/
  
  /*@media only screen and () {
    
  }*/

  /******************** SECCIÓN 3: "OPINIONES" ********************/
  
#img_seccion_3 img {
  width: 17vw;
}

#img_trustpilot {
  width: 50vw;
}

/*
  #section3Opiniones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
  }

   #imgDeOpinionesDH {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 40vh;
    opacity:0.8;
  }
*/

  .leerMas {
    opacity: 0.8;
    border: #ef863d;
    color: #FDFAF2;
    font-family: "baloo 2";
  }

  /*
  #botonLeerMasOpiniones:hover {
    background-color: #EF863D !important;
    transition: background-color 5s;
  }
  */

    /******************** SECCIÓN 4 ********************/

    /******************** SECCION 5 ********************/
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  .container {
      flex: 1;    /* same as flex-grow: 1; */
  }
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
@media only screen and (min-width: 29.8125rem /*477px*/){ 
  .ft-main{
      justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
      justify-content: space-evenly;
  }
  form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}

}
   * {
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
      margin: 0; 
      padding: 0;
  }
  ul {
      list-style: none;
      padding-left: 0;
  }
  footer {
      background-color: #555;
      color: #bbb;
      line-height: 1.5;
  }
  footer a {
      text-decoration: none;
      color: #eee;
  }
  a:hover {
      text-decoration: underline;
  }
  .ft-title {
      color: #fff;
      font-family: ’Merriweather’, serif;
      font-size: 1.375rem;
      padding-bottom: 0.625rem;
  }
