<!DOCTYPE html>
<html>
<head>

    <%- include('partials/head', {title: 'Por qué elegirnos'}) %>
    <link rel="stylesheet" href="/css/elegirnos.css">
    
</head>
<body>
    
    <%- include('./partials/header') %>
    <div class="container-fluid">
    <div class="wrap">
        <div class="wrap-texto">
            <h1>Por qué elegirnos</h1>
            <P>Actualmente, encontramos en el mercado muchas opciones diferentes para alimentar a nuestros perros. Podemos encontrar distintos tipos y marcas, y dentro de estas, varias especificaciones.</P>

                <h5>Consideramos que existen 4 tipos principales:</h5>
                <ul> 
                    <li>Trocito (alimento seco)</li>
                    <li>Comida deshidratada (se le añade agua antes de consumir)</li>
                    <li>Latas/sobres(comida húmeda - procesada)</li>
                    <li>Alimentación natural (ingredientes frescos)</li>
                </ul>
                
            <p> la hora de escoger una alimentación adecuada para ellos, siempre va a ser recomendable optar por la opción más natural con ingredientes frescos de alta calidad, ya que es más saludable.

Dentro de las dietas naturales para perros, podemos ofrecer la dieta cruda (BARF) o bien cocinarla.

Cualquier opción natural resultará una buena alternativa, ya que, al contener ingredientes frescos, la absorción de nutrientes será mayor. Siempre recomendaremos recurrir a un profesional especializado en el sector para que nos pueda asesorar y ayudar, para ofrecerle así una alimentación 100% adaptada a sus necesidades individuales.</p>
                
                </P>

        </div>
    </div>

    
                


    <%- include('./partials/footer') %>


</body>

                </html>