<!DOCTYPE html>
<html>
<head>

  <%- include('partials/head', {title: 'Preguntas frecuentes' }) %>
  <link rel="stylesheet" href="/css/partials.css">

</head>
<body>

  <%- include('./partials/header') %>
    <div class="container-fluid bg-faq pt-5"></div>
    
    <form class='mt-4 '></form>
    <div class="row mb-4 g-2"></div>
      <h2 class="questions__title">Preguntas frecuentes</h2>
      <p class="question-item__title"></p>
      

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿Qué tipo de comida es DogHouse?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">La comida DogHouse está elaborada con ingredientes frescos y naturales, sin
              harinas animales. <p> Elaboramos nuestras recetas a través de la cocción a fuego lento para preservar
                todos los nutrientes, vitaminas y calidad de los productos.</div>
            </p>
          </div>
          </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿Cómo funciona DogHouse Diet?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Empieza la transición a la comida fresca "DogHouse" para tu perro con nuestro
              pack de prueba personalizado. Esto te permitirá: 1) Hacer una correcta transición a la comida natural, 2)
              ver cómo disfruta tu mascota de nuestra comida cocinada y 3) empezar a notar los beneficios de una dieta
              basada en comida con ingredientes 100% naturales. <p>Te enviaremos los menús congelados y divididos en
              raciones diarias personalizadas. Tan fácil como abrir, calentar y servir.</p>
              Una vez finalizada la prueba de 14 días, recibirás quincenalmente la cantidad de comida exacta que tu
              perro necesita.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿Porqué debería cambiar la alimentación de mi perro por DogHouse?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> La alimentación natural no es, sólo, una cuestión de "moda". Los alimentos
              naturales son más sanos y más seguros que los procesados.<p>
                Nuestras recetas no incorporan añadidos químicos artificiales (conservantes, colorantes, saborizantes y
                antioxidantes), que dañan la salud del animal.</p>
              <p> Los ingredientes naturales resultan más ricos en nutrientes ya que los procesos que se utilizan para
                fabricar los alimentos de tipo trocito(seco)implican cocciones a temperaturas muy altas que hacen que
                muchos nutrientes se pierdan.
              </p>
              <h5>Podemos afirmar que un alimento natural, sin procesar, rico en nutrientes y apropiado para el sistema
                digestivo de tu perro.</h5>
              <h4>Las recetas "DogHouse" mantienen un sabor y un olor natural que harán que tu mascota disfrute de su
                alimento.</h4>
            </div>
          </div>
        </div>
      
      <!--<div class="accordion accordion-flush" id="accordionFlushExample">-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿Hay recetas para mascotas de edad avanzada?
            </button>
          </h2>    
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Sí, nestra dieta se adapta a las necesidades de cada etapa de la vida de tu mascota.
          <p>Nuestras recetas para perros "senior" o de edad avanzada, están elaboradas para aportar un nivel de energía
            óptimo y con ingredientes que ayudarán a prevenir los problemas más comunes que aparecen con la edad.</p>
        </div>
      </div>
      </div>


      <!--<div class="accordion accordion-flush" id="accordionFlushExample">-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿Cómo almacenar y servir la comida "DogHouse"?
            </button>
          </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Congelamos los menús para conservar todas sus propiedades
          y nutrientes y te lo enviamos en cajas isotérmicas, listos para ser guardados en
          el freezer o en la heladera. Se puden descongelar los sobres en la heladera o usando
          el microondas.<p>Recomendamos dar unos minutoss de calor en microondas para intensificar
            el olor y el sabor</p>
          <H5>Te enviaremos divididos en raciones diarias para que solo
            tengas que descongelar, calentar, abrir y servir.</H5>
        </div>
      </div>
      </div>

      <%- include('./partials/footer') %>


</body>

</html>