<!DOCTYPE html>

<html>
    
    <!-- Include Head -->
    <%- include('partials/head', {title: 'Suscripción'}) %>

<body>
    
    <!-- Header -->
    <%- include('./partials/header') %> 

    <!-- Formulario de suscripción DogHouse -->
        
    <div class="container-fluid m-5">
            
            <div class="row m-2 justify-content-md-center">

                <div class="col-12">
                    <h2> ¡Preséntanos a tu perro! </h2>
                    <p> Rellena un breve formulario explicándonos cómo es tu perro, para que nuestro algoritmo pueda calcular sus necesidades nutricionales y crear su plan y precio personalizados. </p>
                </div>

            </div>

            <div class="row m-2 justify-content-md-center">

                <div class="col-12">
                    <img src=" "> </img>
                </div>

            </div>

        </div>

        <div class="text-center mb-3">
            <i style='font-size:24px' class='fa-solid fa-dog'></i> <p>Creá el perfil de tu perro:</p>
            
            <!-- Nombre perrito -->
            <div class="form-outline mb-4">
                <input type="text" id="registerName" class="form-control" />
                <label class="form-label" for="registerName">Nombre</label>
              </div>
        
              <!-- Edad perrito -->
              <div class="form-outline mb-5">
                <input type="text" id="ageDOG" class="form-control" />
                <label class="form-label" for="ageDOG">Edad</label>
              </div>
        
              <!-- Peso perrito -->
              <div class= "pesoperrito">
                <label for="peso">Peso (en kg):</label>
                <input type="range" value="24" min="1" max="100" oninput="this.nextElementSibling.value = this.value" id="peso" name="peso" min="0" max="50">
                <output>24</output>
              </div>
        
               <!-- Actividad del perrito -->
               <div class= "actividad">
              <form>
                <label for="peso">Actividad:</label>&nbsp;
                  <input type="radio" name="optradio" checked>Activo
                </label>
                &nbsp;
                  <input type="radio" name="optradio">Inactivo
                </label>
              </div>
              </form>
        
              <!--  Foto perrito -->
              <form action="/usuarios/create" method="POST" enctype="multipart/form-data">
                <div class= "fotoperrito">
                  <label class="form-label" for="imageDOG">Foto de tu perro:</label>
                  <input type="file" name="imageDOG"/>
                </div>

<!-- Footer -->
<div>
<%- include('./partials/footer') %>
</div>

</body>

</html>