 body{
   margin: 0px;
   padding: 0px;
   align-items: center;
   justify-content: center;
   background-color: #ded585;
 }


 .nosotros-section{
   height: 100vh;
   object-fit: cover;
   display: flex;
   align-items: center;
   background: url("/img/nosotros/carita.jpg");
   background-size: cover;
   background-position: center;
   margin: 0px
 }


 .inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
 }
 .text{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.911);
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
 }
